 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/BlogHeader-4-copy.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}


@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 454px;
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
} .u-section-4 {
  background-image: url("images/SharedScreenshot.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 596px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 178px;
  font-size: 2.25rem;
  margin: 48px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 551px;
  margin: 8px auto 0;
}

.u-section-4 .u-form-1 {
  height: 213px;
  width: 570px;
  margin: 39px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -238px 305px 213px 295px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 205px;
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -189px;
    margin-right: 95px;
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-size: auto 175%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
    margin-top: -35px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -238px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 178px;
  } 

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}
