<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCppNg9iyb-GOjswlztdOgTlHee1SuvmdM&callback=initMap&v=weekly"
          type="text/javascript"></script>
</head>
<body>
  <div id="map" style="width:auto ; height: 500px  "></div>



  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-305b">
    <div class="u-clearfix u-sheet u-sheet-1">

      <h3 class="u-text u-text-default u-text-1"id="titlex" ><b>helper details</b></h3>
      <h6 class="u-align-left u-text u-text-2" id="namex">press on a helper tag to load his details</h6>
      <h6 class="u-align-left u-text u-text-4"id="emailx"></h6>
      <h6 class="u-align-left u-text u-text-5"id="phonenumberx"></h6>
      <h6 class="u-align-left u-text u-text-7"id="Supported_Areasx"></h6>
      <h6 class="u-align-left u-text u-text-8"id="cost_per_hourx"></h6>
      <h6 class="u-align-left u-text u-text-9"id="Descx"></h6>

    </div>
  </section>

</body>
</html>
