<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .checked {
      color: orange;
    }
    </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCppNg9iyb-GOjswlztdOgTlHee1SuvmdM&callback=initMap&v=weekly"
          type="text/javascript"></script>
</head>
<body>
  <div id="map" style="width:auto ; height: 500px  "></div>


  <script type="text/javascript">

    const locations= <%- JSON.stringify(locationsx) %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
     center: new google.maps.LatLng(31.250833096354167, 34.77165177394831),
     mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
       position: new google.maps.LatLng(locations[i][1], locations[i][2]),
       map: map,
       url: "/helpers"
      });
///helperForm
    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
      
       return function() {
         infowindow.setContent( "<b>"+locations[i][3]+"</b>"+"<b>&nbsp;&nbsp;"+locations[i][10]+"/5"+"</b>"+"<br><b>price per hour: </b>"+locations[i][4]+
        "<b>  Supported Areas: </b>"+locations[i][6]+"</br>");
         infowindow.open(map, marker);
       }
     })(marker, i));


          google.maps.event.addListener(marker, 'click', (function(marker, i) {
       return function() {
         infowindow.setContent(locations[i][0]);

         document.getElementById("titlex").innerHTML="<b>"+locations[i][9]+" detailes</b>";
         document.getElementById("namex").innerHTML="<b>Name: </b>"+locations[i][3];
         document.getElementById("emailx").innerHTML="<b>Email: </b>"+locations[i][7];
         document.getElementById("phonenumberx").innerHTML="<b>Phone number: </b>"+locations[i][8];
         document.getElementById("Supported_Areasx").innerHTML="<b>Supported areas: </b>"+locations[i][6];
         document.getElementById("cost_per_hourx").innerHTML="<b>Cost per hour: </b>"+locations[i][4];
         document.getElementById("Descx").innerHTML="<b>Description: </b>"+locations[i][5];
         document.getElementById("rates").innerHTML="<b>rate: </b>"+locations[i][10]+"/5";

        document.getElementById("rated").value = locations[i][7];
document.getElementById("les").style.visibility = "visible";

         var dest=locations;
         infowindow.open(map, marker);

        // window.location.href = this.url;

       }
     })(marker, i));
     //document.getElementById("les").style.display = "none";
     //$("#les").fadeOut();

    }

  </script>
  <section class=" u-inner-form" id="sec-305b">
    <div class="u-clearfix u-sheet u-sheet-1">

      <h3 class="u-text u-text-default u-text-1"id="titlex" ><b>helper details</b></h3>
      <h6 class="u-align-left u-text u-text-2" id="namex">press on a helper tag to load his details</h6>
      <h6 class="u-align-left u-text u-text-4"id="emailx"></h6>
      <h6 class="u-align-left u-text u-text-5"id="phonenumberx"></h6>
      <h6 class="u-align-left u-text u-text-7"id="Supported_Areasx"></h6>
      <h6 class="u-align-left u-text u-text-8"id="cost_per_hourx"></h6>
      <h6 class="u-align-left u-text u-text-9"id="Descx"></h6>
      <h6 class="u-align-left u-text u-text-9"id="rates"></h6>
    </div>

<div id="les" >


<form  class="rating" method="POST">
            <input type="radio" id="star5" name="rating" value="5" onclick="postToController();" />&nbsp<label  for="star5" title="Super !!">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          | </label>
          &nbsp
            <input type="radio" id="star4" name="rating" value="4" onclick="postToController();" />&nbsp<label for="star4" title="Geil">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          | </label>
          &nbsp
            <input type="radio" id="star3" name="rating" value="3" onclick="postToController();" />&nbsp<label for="star3" title="Gut">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span>
            | </label>
            &nbsp
            <input type="radio" id="star2" name="rating" value="2" onclick="postToController();" />&nbsp<label for="star2" title="So gut wie">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span>
            | </label>
            &nbsp
            <input type="radio" id="star1" name="rating" value="1" onclick="postToController();" />&nbsp<label for="star1" title="Schlecht">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star"></span>
          </label>


<script>
function postToController() {
        for (i = 0; i < document.getElementsByName('rating').length; i++) {
                if(document.getElementsByName('rating')[i].checked == true) {
                    var ratingValue = document.getElementsByName('rating')[i].value;
                    break;
                }
        }
        //alert(ratingValue);


        document.getElementById("rating").value = ratingValue;
}

</script>

</form>

<div class="u-form u-form-1">
<form action="/rating" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 20px;">
  <p>
      <input type="hidden"   id="rater" value="<%= emailx%>" name= "rater" readonly class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required"/>
  </p>
  <p>
      <input type="hidden" id="rated" name= "rated" readonly class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required"/>
  </p>
  <p>
    <input type="hidden" id="rating" name= "rating" readonly class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required"/>
  </p>

  <div class="u-align-left u-form-group u-form-submit u-label-top">
    <input type="submit" value="submit" class="u-form-control-hidden">
    <a onclick="routw()" class="u-btn u-btn-submit u-button-style">Send Your Rating</a>
    </div>
  </div>
</form>

</div>
<script>
document.getElementById("les").style.visibility = "hidden";
function routw(){
  alert("your rate had been sent successfully");
  setTimeout(function(){document.location.href = "/helpers"},500);

}
</script>
  </section>

</body>
</html>
