
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="public_massenger.css">

  </head>
  <body>


<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-xs-12 col-md-offset-2">
      <!-- Panel Chat -->
      <div class="panel" id="chat">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon wb-chat-text" aria-hidden="true"></i> Chat
          </h3>
        </div>
<script>


</script>

        <div class="panel-body">
          <div class="chats">
            <div class="chat">
              <div class="chat-avatar">
                <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                  <i></i>
                </a>
              </div>


              <div class="chat-body">
                <div class="chat-content">
                  <p>
                    Good morning, sir.
                    <br>What can I do for you?
                  </p>
                  <time class="chat-time" datetime="2015-07-01T11:37">11:37:08 am</time>
                </div>
              </div>
            </div>



          <form action="/Helper" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 20px;">
            <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top">
                          <label for="name-2280" class="u-label">input</label>
                          <input type="text" placeholder="Enter your  First name" id="name-2280" name="firstname" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                        </div>
              <div class="u-align-left u-form-group u-form-submit u-label-top">
                <input type="submit" value="submit" class="u-form-control-hidden">
                <script>
                  function rout(){
                    alert("you have registered successfully");

                  }
                </script>
                <a onclick="rout()" class="u-btn u-btn-submit u-button-style">Submit</a>

              </div>
            </form>
      </div>
      <!-- End Panel Chat -->
    </div>
    </div>

  </body>
</html>
